.navbar-brand {
  background-color: #39ff14;
  width: auto;
  border: 3px solid green;
  padding: 10px;
}

body{
  background-image: url("../images/crossline-lines.png");
}

.about-me {
    float: left;
    width: 250px;
    border: 2px solid green;
}

.h2{
color: teal;
}

/* .left{
float: center;
} */

/* .right{
  float: right;
} */

footer {
    border-top: 5px solid green;
    height: 60px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    color: red
}