.navbar-brand {
  color: whitesmoke;
  background-color: teal;
  width: auto;
  border: 1px solid green;
  padding: 10px;
}

body{
  background-image: url("../images/crossline-lines.png");
}

.about-me {
    float: left;
    border: 2px solid green;
}

.h2{
color: teal;
}

.pic-banner{
  bottom: 15px;
  position: relative;
  color: whitesmoke;
  background-color: teal;
  width: 250px;
  border: 1px solid black;
  padding: 10px;
}

footer {
    border-top: 5px solid green;
    height: 60px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    color: red
}



/* @media screen and (min-width: 680px) {
 body {
    width: 100%;
  }
} */
