.navbar-brand {
  background-color: grey;
  width: 10%;
  border: 3px solid green;
  padding: 7px;
  margin: 7px;
}


.hero-image {
    background: url("./images/SAM.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}


main {
    float: left;
    width: 40%;
    margin-bottom: 16px;
    margin-left: 80px;
    padding: 0 8px;
    border: 2px solid green;
    background-color: #ffffff;
    color: blue;
}
footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}