.navbar-brand {
  background-color: grey;
  width: 10%;
  border: 3px solid green;
  padding: 7px;
  margin: 7px;
}
body, html {
    height: 100%;
}


.hero-image {
}
main{
width: 40%;
border: 2px solid green;
}